[submodule "external/cmaker"]
	path = external/cmaker
	url = https://github.com/williammc/cmaker.git

[submodule "external/sophus"]
	path = external/sophus
	url = https://github.com/williammc/sophus.git
	branch = master
